.overLay {
    background-color: #000000cc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    /* z-index: 20; */
    background-color: #cee21d6e;
    box-shadow: 0 20px 25px -5px rgba(168, 197, 1, 0.1),0 8px 10px -6px rgba(0,0,0,.1);
    border-radius: 20px;
    border: 2px solid #f562352b;
    padding: 0px !important;
}

.closeIcon {
    width: 20px;
    height: 20px;
    top: 0px;
    right: 4px;
}